<div class="container tickets">
  <h1>Raffle</h1>
  <h2>Keep your ticket number safe!</h2>
  <button id="show-ticket-number-button">Generate Ticket Number</button>
  <div id="ticket-number" style="display: none;"></div>
</div>
